html, body, div#root, div#global_wrapper, div.screen_wrapper, div.screen_content {
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

html, body {
  background: transparent;
}